$bg-colour: #fff;
$tablet-width: 768px;
$desktop-width: 1024px;

body {
	background-color: $bg-colour;
	font-family: "arial","helvetica",sans-serif;
	font-size: 12px;
}

.vehicles {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #4a4f54;

	@media (min-width: $tablet-width)  {
		display: flex;
		flex-wrap: wrap;
	}

	@media (min-width: $desktop-width) {
		display: flex;
	}

	.vehicle {
		box-sizing: border-box;
		display: flex;
		border-bottom: solid 1px #eef1f1;

		@media (min-width: $tablet-width)  {
			display: block;
			border-right: solid 1px #eef1f1;
			text-align: center;
			width: 50%;
		}

		@media (min-width: $desktop-width) {
			width: 25%;
		}

		&-inner {
			display: flex;
			@media (min-width: $tablet-width)  {
				display: block;
			}
		}

		&-img {
			display: block;
			flex: 0 0 70px;
			height: 70px;

			@media (min-width: $tablet-width)  {
				flex: 0 0 100%;
				height: auto;
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		&-details {
			padding: 12px;

			&-name {
				text-transform: uppercase;
				font-size: 14px;
				color: #0c121c;
				margin: 0;

				@media (min-width: $tablet-width)  {
					display: inline-block;
					border-top: solid 1px black;
					border-bottom: solid 1px black;
					margin-bottom: 10px;
				}
			}

			&-price {
				margin-bottom: 5px;
			}
		}
	}
}
